bcrypt             
blinker            
click              
Flask              
Flask-Cors         
Flask-JWT-Extended 
Flask-SQLAlchemy   
greenlet  
gunicorn                    
importlib_metadata 
itsdangerous       
Jinja2             
MarkupSafe         
pip  
pip-tools              
psycopg2-binary    
PyJWT  
pyproject_hooks 
python-dotenv             
setuptools         
SQLAlchemy 
tomli         
typing_extensions 
Werkzeug           
zipp               